<!-- header -->
<header>
  <figure id="header-logo-container">
    <img src="/logo_bitcook.png" alt="Logo BitCook" />
  </figure>
  <nav>
    <a href="./form.html">Send your recipe</a>
    <figure id="nav-icon-container">
      <img src="/moon-icon.png" alt="Ícono modo oscuro" />
    </figure>
  </nav>
</header>

<router-outlet></router-outlet>

<!-- footer -->
<footer>
  <figure id="footer-logo-container">
    <img src="/logo_bitcook.png" alt="Logo BitCook" />
  </figure>
  <h4>&#64;2024 Julianchoripan</h4>
</footer>
