<main>
  <section id="hero-container">
    <div id="hero">
      <h1>BitCook Recipes</h1>
    </div>
    <h2>Our best recipes</h2>
  </section>

  <!-- grid -->

  <section id="grid">
    <article class="grid-content">
      <img src="/beef-lasagna.avif" alt="" />
      <h2>Beef Lasagna</h2>
      <ul>
        <li><span>Total: </span>Approximately 90 minutes.</li>
        <li><span>Preparation: </span>40 minutes.</li>
        <li><span>Cooking: </span>50 minutes.</li>
      </ul>
    </article>
    <article class="grid-content">
      <img src="/duck-with-orange.avif" alt="" />
      <h2>Duck with Orange</h2>
      <ul>
        <li><span>Total: </span>Approximately 90 minutes.</li>
        <li><span>Preparation: </span>30 minutes.</li>
        <li><span>Cooking: </span>60 minutes.</li>
      </ul>
    </article>
    <article class="grid-content">
      <img src="/orzo-with-zucchini.avif" alt="" />
      <h2>Orzo with Zucchini</h2>
      <ul>
        <li><span>Total:</span> Approximately 30 minutes.</li>
        <li><span>Preparation: </span>10 minutes.</li>
        <li><span>Cooking: </span>20 minutes.</li>
      </ul>
    </article>
    <article class="grid-content">
      <img src="/piadinas-with-ham.avif" alt="" />
      <h2>Piadinas with Ham</h2>
      <ul>
        <li><span>Total: </span>Approximately 15 minutes.</li>
        <li><span>Preparation: </span>10 minutes.</li>
        <li><span>Cooking: </span>5 minutes.</li>
      </ul>
    </article>
    <article class="grid-content">
      <img src="/rigatoni-with-panko.avif" alt="" />
      <h2>Rigatoni with Panko</h2>
      <ul>
        <li><span>Total: </span>Approximately 30 minutes.</li>
        <li><span>Preparation: </span>15 minutes.</li>
        <li><span>Cooking: </span>15 minutes.</li>
      </ul>
    </article>
    <article class="grid-content">
      <img src="/shrimp-salad.avif" alt="" />
      <h2>Shrimp Salad</h2>
      <ul>
        <li><span>Total: </span> Approximately 20 minutes.</li>
        <li><span>Preparation: </span>15 minutes.</li>
        <li><span>Cooking: </span>5 minutes.</li>
      </ul>
    </article>
  </section>
</main>
